body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  overflow-x: hidden;
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
